.vault {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e4cc;
  color: #698474;

  &__title {
    font-size: 3rem;
    text-decoration: underline;
  }

  &__fail {
    height: 100%;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;

    &--center {
      margin-bottom: 5rem;
    }
  }
}
