.loginButton {
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  outline-color: transparent;
  border: 2px solid #000;
  border-radius: 0.5rem;
  background-color: #e5e4cc;
  box-shadow: 4px 4px 5px #000;
  transition: all 0.1s;

  &:active {
    transform: translateX(+3px);
    transform: translateY(+3px);
    box-shadow: none;
  }

  &__text {
    font-weight: bold;
    margin-left: 1rem;
  }
}
