.navigation {
  background-color: #fff;

  &__title {
    font-weight: bold;
    font-size: 1.75rem;
  }

  &__link {
    color: #000;
    margin: 0 1rem;
    font-size: 1.25rem;

    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  &__button {
    border: none;
    border-radius: 0.5rem;
    padding: 4px 1rem;
    background-color: #698474;
    color: #fff;
  }
}
