.create {
  width: 100%;
  height: calc(100vh - 60px);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e4cc;
  color: #698474;

  &__title {
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 0.25rem;
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-bottom: 1rem;
    width: 30rem;
  }

  &__textarea {
    margin-bottom: 1rem;
    width: 30rem;
    height: 5rem;
    resize: none;
  }

  &__fail {
    height: 100%;
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: center;

    &--center {
      margin-bottom: 5rem;
    }
  }

  &--high {
    font-weight: bold;
    text-decoration: underline;
  }

  &--low {
    text-decoration: none;
    font-weight: normal;
    margin: 5px 0;
  }
}
