.auth {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 1rem;
  border: solid 2px #000;
  min-height: 475px;
  min-width: 450px;
  transform: translate(-50%, -50%);
  background-color: #698474;
  color: #e5e4cc;

  &__title {
    font-size: 2rem;
    padding: 1rem 0;
    text-decoration: underline;
  }

  &__close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #fff;
    outline-color: transparent;
    border: none;
    background-color: transparent;
    font-weight: bold;
  }

  &__form,
  &__div {
    display: flex;
    flex-direction: column;

    input {
      width: 20rem;
      margin: 4px 0;
      padding: 4px 0;
    }
  }

  &--text {
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
  }
}
