// bootstrap import
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// base imports
@import 'base/reset';

// utils  imports
@import 'utils/custom';
@import 'utils/themes';
@import 'utils/variables';
@import 'utils/mixins';

// component imports
@import 'components/navigation/navigation';
@import 'components/auth/auth';
@import 'components/landingPage/landingPage';
@import 'components/home/home';
@import 'components/features/features';
@import 'components/features/featuresCard';
@import 'components/create/create';
@import 'components/vault/vault';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  min-height: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

// media queries
@import 'media';
